@media (max-width: 1320px) {
  .header_section .navigation_navbar {
    margin: 30px 10px 0 10px;
  }
  .header_section .main {
    grid-template-columns: 1fr 1fr;
  }
  .header_section .main_text-h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
  }
  .header_section .main_text-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .header_section .main_text-p {
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
  }
  .header_section .main_text_wraper-buttons-button1 {
    padding: 20px 20px;
  }
  .header_section .main_text_wraper-buttons-button2 {
    padding: 20px 20px;
  }
  .header_section .main_text-button3 {
    max-width: 660px;
    padding: 10px 25px;
  }
}
@media (max-width: 1120px) {
  .header_section .navigation_navbar {
    margin: 30px 10px 0 10px;
  }
  .header_section .main {
    grid-template-columns: 1fr 1.2fr;
  }
  .header_section .main_text-h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }
  .header_section .main_text-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .header_section .main_text-p {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
  }
  .header_section .main_text_wraper-buttons-button1 {
    padding: 20px 10px;
  }
  .header_section .main_text_wraper-buttons-button2 {
    padding: 20px 10px;
  }
  .header_section .main_text-button3 {
    max-width: 660px;
    padding: 10px 20px;
  }
  .how_it_works_section .grids {
    grid-template-columns: 1fr 1fr;
  }
  .how_it_works_section .grids_items:nth-child(3) {
    display: none;
  }
}